section.page_breadcrumbs.ds.ms
  .container
    .row
      .col-sm-12.text-center
        h1.highlight.bold Солнечные панели
        ol.breadcrumb
          li
            a(href='index.html') Главная
          li.active
            a(href='#') Солнечные панели
