section.ls.ms.section_padding_top_40.section_padding_bottom_15
  .container
    .row
      .col-sm-4
        .teaser.text-center
          .teaser_icon.highlight.size_normal
            i.rt-icon2-location2
          h3 Адрес
          p.teaser__text Barker st. 567, Los Angeles, CA, US
      .col-sm-4
        .teaser.text-center
          .teaser_icon.highlight.size_normal
            i.rt-icon2-phone5
          h3 Телефон
          p.teaser__text 8 (800) 168-2159, 8 (800) 156-5462
      .col-sm-4
        .teaser.text-center
          .teaser_icon.highlight.size_normal
            i.rt-icon2-mail
          h3 Email
          p.teaser__text info@company.com