header.page_header.header_white.floating_logo.columns_padding_0.table_section
  .container
    .row
      .col-md-4.col-xs-10
        a.logo.logo_image(href='index.html')
          img(src='images/logo.png', alt='EN-SALE')
        span.logo-meta
          strong.grey +7(999)999-999
          br
          | en-sale@mail.ru
      .col-md-6.col-xs-2.text-center
        // main nav start
        nav.mainmenu_wrapper
          ul.mainmenu.nav.sf-menu
            li.active
              a(href='index.html') Главная
            // section
            li
              a(href='/news.html') Новости
            // section
            li
              a(href='/objects.html') Объекты
            // section
            li
              a(href='/shop.html') Магазин
        // eof main nav
        span.toggle_menu
          span
