/*404*/

.not_found {
  font-size: 280px;
  font-weight: 700;
  line-height: 0.8;
  + h2 {
    font-size: 42px;
    margin: 0 0 26px;
    + p {
      margin: 0 0 15px;
      + .widget_search {
        max-width: 370px;
        margin: auto;
      }
    }
  }
}