/* chekcout */

.shop-info {
  margin-bottom: 15px;
}

form.checkout {
  .checkbox {
    margin: -5px 0 0;
  }
  .lost_password {
    margin: 15px 0 -15px;
  }
  label {
    text-align: left !important;
  }
}

#order_review table {
  thead {
    display: none;
  }
  td + td {
    border-left: none;
    text-align: right;
  }
}

.shop-checkout-payment {
  margin-top: 40px;
  .radio {
    margin: 2px 0;
  }
}