/* dropdown menu */

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.05);
  z-index: 1001;
  font-size: 16px;
  margin-top: 0;
}

[class*="right"] .dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu > li > a {
  &:focus, &:hover {
    color: #323232;
    background-color: transparent;
  }
}

.table {
  > {
    tbody > tr > {
      td, th {
        padding: 13px 8px;
        border-color: #e1e1e1;
      }
    }
    tfoot > tr > {
      td, th {
        padding: 13px 8px;
        border-color: #e1e1e1;
      }
    }
    thead > tr > {
      td, th {
        padding: 13px 8px;
        border-color: #e1e1e1;
      }
    }
  }
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  td + td {
    border-left: 1px solid #e1e1e1;
  }
}

.table-bordered > thead > tr > {
  td, th {
    border-bottom-width: 1px;
  }
}

.table-responsive {
  border: none;
}

.well {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.embed-responsive-3by2 {
  padding-bottom: 66.666%;
}

.embed-placeholder {
  &:before {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    content: "\e696";
    font-family: 'rt-icons-2';
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -5px;
  }
  &:hover:before {
    opacity: 0.4;
  }
}