/*
**main menu mobile styles
*/
@media (max-width: 991px) {
  .mainmenu_wrapper {
    /*position: relative;*/
    position: fixed;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .mobile-active .mainmenu_wrapper {
    visibility: visible;
    opacity: 1;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .toggle_menu {
    display: block;
    &.mobile-active {
      background-color: #323232 !important;
      border: none;
      left: auto;
      top: 0;
      right: 0;
      position: fixed;
      margin: 0;
      z-index: 3000;
      &:after {
        position: absolute;
        top: 14px;
        left: 10px;
        font-family: 'rt-icons-2';
        content: "\e117";
        font-size: 40px;
        color: #ffffff;
      }
      span {
        display: none;
      }
    }
  }
  .nav-justified > li > a {
    text-align: left;
  }
  .sf-menu {
    position: fixed;
    overflow: auto;
    background-color: #323232;
    padding: 10px 20px 10px 10px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 100%;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    opacity: 0;
  }
  .mobile-active .sf-menu {
    opacity: 1;
    right: 20px;
  }
  .sf-menu {
    > li > a, a {
      color: #ffffff;
    }
    ul {
      list-style: none;
      padding-left: 10px;
      li a {
        display: block;
        padding: 10px;
        font-weight: 300;
        font-size: 16px;
        text-transform: none;
        &:before {
          content: '-';
          padding-right: 5px;
        }
      }
      ul li a:before {
        content: '--';
        padding-right: 5px;
      }
    }
  }
  /*** arrows (for all except IE7) **/
  .sf-arrows {
    .sf-with-ul {
      padding-right: 2.5em;
      *padding-right: 1em;
      /* no CSS arrows for IE7 (lack pseudo-elements) */
      &:after {
        font-family: 'fontello';
        content: '\e82e';
        position: absolute;
        right: 1.44em;
        height: 0;
        width: 0;
        font-size: 20px;
      }
    }
    .sfHover > a {
      color: #ffffff;
      background-color: #323232;
      &:hover {
        color: #ffffff;
        background-color: #323232;
      }
    }
  }
  /* styling for both css and generated arrows */
  /*top menu level*/
}