include ../../mixins/mixins
section.ls.ms.section_padding_top_65.section_padding_bottom_65
  .container
    .row
      .col-md-9.col-sm-8
        include ../../components/_tab
      .col-md-3.col-sm-4
        include ../../components/_bestsellers
