extends layouts/default

block content
  // template sections
  include includes/common/_navigation
  include includes/common/_breadcrumbs
  include includes/pages/category/_service-items
  include includes/common/_contact-bg-white
  include includes/common/_callus
  include includes/common/_copyright

