extends layouts/default

block content
  // template sections
  include includes/pages/main/_slider
  include includes/common/_navigation
  include includes/pages/main/_services
  include includes/pages/main/_mainGalery
  include includes/common/_contact
  include includes/common/_callus
  include includes/common/_copyright