.with_background.with_padding
  .widget.widget_popular_entries
    h3.widget-title Popular
    ul.media-list.darklinks
      li.media
        a.media-left(href='blog-single-right.html')
          img.media-object(src='images/recent_post1.jpg', alt='')
        .media-body
          p
            a(href='blog-single-right.html') Eod tempor invidunt labore dolore magna
          .star-rating(title='Rated 5 out of 5')
            span(style='width:100%')
              strong.rating 5
              |  out of 5
      li.media
        a.media-left(href='blog-single-right.html')
          img.media-object(src='images/recent_post2.jpg', alt='')
        .media-body
          p
            a(href='blog-single-right.html') Aliquyam erat, sed voluptua vero eos 
          .star-rating(title='Rated 4.0 out of 5')
            span(style='width:60%')
              strong.rating 4
              |  out of 5
      li.media
        a.media-left(href='blog-single-right.html')
          img.media-object(src='images/recent_post1.jpg', alt='')
        .media-body
          p
            a(href='blog-single-right.html') Et justo duo dolores et ea rebum
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width:80%')
              strong.rating 4.50
              |  out of 5
      li.media
        a.media-left(href='blog-single-right.html')
          img.media-object(src='images/recent_post2.jpg', alt='')
        .media-body
          p
            a(href='blog-single-right.html') Stetclita kasd gubergren no sea takimata
          .star-rating(title='Rated 3.00 out of 5')
            span(style='width:40%')
              strong.rating 3
              |  out of 5
      li.media
        a.media-left(href='blog-single-right.html')
          img.media-object(src='images/recent_post1.jpg', alt='')
        .media-body
          p
            a(href='blog-single-right.html') Lorem ipsum dolor sitmet amet consetetur 
          .star-rating(title='Rated 4.50 out of 5')
            span(style='width:90%')
              strong.rating 4.50
              |  out of 5