section.page_breadcrumbs.ds.ms.section_padding_bottom_30
  .container
    .row
      .col-sm-12.text-center
        h1.highlight.bold Солнечные панели
        ol.breadcrumb
          li
            a(href='#') Главная
          li.active
            a(href='#') Солнечные панели
