footer.page_footer.ds.ms.section_padding_top_65.section_padding_bottom_50
  .container
    .row
      .col-md-4.col-sm-4.to_animate(data-animation='scaleAppear')
        .widget.widget_text
          p
            img(src='', alt='EN-SALE')
          p г. Саратов, ул. Ленина, дом 1
          p en-sale@mail.ru
          p www.en-sale.ru
          p +7 (999) 999-9999
      .col-md-4.col-sm-4.to_animate(data-animation='scaleAppear')
        .widget.widget_nav_menu.greylinks
          h3.widget-title Быстрые ссылки
          div
            ul.menu
              li
                a(href='#') Карзина
              li
                a(href='#') Выход
              li
                a(href='#') Мой аккаунт
      .col-md-4.col-sm-4.to_animate(data-animation='scaleAppear')
        .widget.widget_nav_menu.greylinks
          h3.widget-title Схема проезда
          div
            ul.menu
              li
                a(href='#') Свяжитесь с нами