header.page_header.header_white.floating_logo.columns_padding_0.table_section
  .container-fluid
    .row
      .col-md-3.col-xs-6
        a.logo.logo_image(href='index.html')
          img(src='images/logo.png', alt='')
        span.logo-meta
          strong.grey 8(800)168-2159
          br
          |          support@company.com
      .col-md-7.col-lg-6.text-center
        // main nav start
        nav.mainmenu_wrapper
          ul.mainmenu.nav.sf-menu
            li.active
              a(href='index.html') Home
              ul
                li
                  a(href='index.html') Solar Panels
                li
                  a(href='index2.html') Turbines
                li
                  a(href='index_static.html') Static
            // blog
            li
              a(href='blog-right.html') Blog
              ul
                li
                  a(href='blog-right.html') Right Sidebar
                li
                  a(href='blog-left.html') Left Sidebar
                li
                  a(href='blog-full.html') No Sidebar
                li
                  a(href='blog-single-right.html') Post
                  ul
                    li
                      a(href='blog-single-right.html') Right Sidebar
                    li
                      a(href='blog-single-left.html') Left Sidebar
                    li
                      a(href='blog-single-full.html') No Sidebar
                li
                  a(href='blog-single-video-right.html') Video Post
                  ul
                    li
                      a(href='blog-single-video-right.html') Right Sidebar
                    li
                      a(href='blog-single-video-left.html') Left Sidebar
                    li
                      a(href='blog-single-video-full.html') No Sidebar
            // eof blog
            // shop
            li
              a(href='shop-right.html') Shop
              ul
                li
                  a(href='shop-right.html') Shop
                li
                  a(href='product-right.html') Single Product
                li
                  a(href='cart-right.html') Shopping Cart
                li
                  a(href='checkout-right.html') Checkout
                li
                  a(href='register.html') Registration
            // eof shop
            li
              a(href='about.html') Pages
              ul
                // features
                li
                  a(href='shortcodes_teasers.html') Shortcodes&Widgets
                  ul
                    li
                      a(href='shortcodes_teasers.html') Teasers
                    li
                      a(href='shortcodes_buttons.html') Buttons
                    li
                      a(href='shortcodes_progress.html') Progress
                    li
                      a(href='shortcodes_pricing.html') Pricing
                    li
                      a(href='shortcodes_socialicons.html') Social Icons
                    li
                      a(href='shortcodes_tabs.html') Tabs & Collapse
                    li
                      a(href='shortcodes_bootstrap.html') Bootstrap Elements
                    li
                      a(href='shortcodes_typography.html') Typography
                    li
                      a(href='shortcodes_widgets.html') Widgets
                    li
                      a(href='shortcodes_animation.html') Animation
                    li
                      a(href='shortcodes_icons.html') Template Icons
                // eof features
                // header
                li
                  a(href='header1.html') Headers
                  ul
                    li
                      a(href='header1.html') Header 1
                    li
                      a(href='header2.html') Header 2
                    li
                      a(href='header3.html') Header 3
                    li
                      a(href='header4.html') Header 4
                    li
                      a(href='header5.html') Header 5
                    li
                      a(href='header6.html') Header 6
                // eof header
                // breadcrumbs
                li
                  a(href='breadcrumbs1.html') Breadcrumbs
                  ul
                    li
                      a(href='breadcrumbs1.html') Breadcrumbs 1
                    li
                      a(href='breadcrumbs2.html') Breadcrumbs 2
                    li
                      a(href='breadcrumbs3.html') Breadcrumbs 3
                    li
                      a(href='breadcrumbs4.html') Breadcrumbs 4
                    li
                      a(href='breadcrumbs5.html') Breadcrumbs 5
                    li
                      a(href='breadcrumbs6.html') Breadcrumbs 6
                // eof breadcrumbs
                // footer
                li
                  a(href='footer1.html') Footer
                  ul
                    li
                      a(href='footer1.html') Footer 1
                    li
                      a(href='footer2.html') Footer 2
                    li
                      a(href='footer3.html') Footer 3
                    li
                      a(href='footer4.html') Footer 4
                    li
                      a(href='footer5.html') Footer 5
                // eof footer
                // copyright
                li
                  a(href='copyright1.html') Copyright
                  ul
                    li
                      a(href='copyright1.html') Copyright 1
                    li
                      a(href='copyright2.html') Copyright 2
                    li
                      a(href='copyright3.html') Copyright 3
                    li
                      a(href='copyright4.html') Copyright 4
                    li
                      a(href='copyright5.html') Copyright 5
                // eof copyright
                // events
                li
                  a(href='events-left.html') Events
                  ul
                    li
                      a(href='events-left.html') Left Sidebar
                    li
                      a(href='events-right.html') Right Sidebar
                    li
                      a(href='events-full.html') Full Width
                    li
                      a(href='event-single-left.html') Single Event
                      ul
                        li
                          a(href='event-single-left.html') Left Sidebar
                        li
                          a(href='event-single-right.html') Right Sidebar
                        li
                          a(href='event-single-full.html') Full Width
                // eof events
                li
                  a(href='about.html') About
                  ul
                    li
                      a(href='about.html') About
                    li
                      a(href='about2.html') About 2
                li
                  a(href='features.html') Our Features
                li
                  a(href='services.html') Our Services
                li
                  a(href='comingsoon1.html') Comingsoon
                  ul
                    li
                      a(href='comingsoon1.html') Comingsoon
                    li
                      a(href='comingsoon2.html') Comingsoon 2
                li
                  a(href='pricing.html') Pricing
                li
                  a(href='timetable.html') Timetable
                li
                  a(href='faq.html') FAQ
                  ul
                    li
                      a(href='faq.html') FAQ
                    li
                      a(href='faq2.html') FAQ 2
                li
                  a(href='404.html') 404
            // eof pages
            // gallery
            li
              a(href='gallery-regular.html') Gallery
              ul
                // Gallery regular
                li
                  a(href='gallery-regular.html') Gallery Regular
                  ul
                    li
                      a(href='gallery-regular.html') 1 column
                    li
                      a(href='gallery-regular-2-cols.html') 2 columns
                    li
                      a(href='gallery-regular-3-cols.html') 3 columns
                    li
                      a(href='gallery-regular-4-cols.html') 4 columns
                // eof Gallery regular
                // Gallery full width
                li
                  a(href='gallery-fullwidth.html') Gallery Full Width
                  ul
                    li
                      a(href='gallery-fullwidth.html') 2 column
                    li
                      a(href='gallery-fullwidth-3-cols.html') 3 columns
                    li
                      a(href='gallery-fullwidth-4-cols.html') 4 columns
                // eof Gallery full width
                // Gallery extended
                li
                  a(href='gallery-extended.html') Gallery Extended
                  ul
                    li
                      a(href='gallery-extended.html') 1 column
                    li
                      a(href='gallery-extended-2-cols.html') 2 columns
                    li
                      a(href='gallery-extended-3-cols.html') 3 columns
                // eof Gallery extended
                // Gallery carousel
                li
                  a(href='gallery-carousel.html') Gallery Carousel
                  ul
                    li
                      a(href='gallery-carousel.html') 1 column
                    li
                      a(href='gallery-carousel-2-cols.html') 2 columns
                    li
                      a(href='gallery-carousel-3-cols.html') 3 columns
                // eof Gallery carousel
                // Gallery tile
                li
                  a(href='gallery-tile.html') Gallery Tile
                // eof Gallery tile
                // Gallery left sidebar
                li
                  a(href='gallery-left.html') Gallery Left Sidebar
                  ul
                    li
                      a(href='gallery-left.html') 1 column
                    li
                      a(href='gallery-left-2-cols.html') 2 columns
                // eof Gallery left sidebar
                // Gallery right sidebar
                li
                  a(href='gallery-right.html') Gallery Right Sidebar
                  ul
                    li
                      a(href='gallery-right.html') 1 column
                    li
                      a(href='gallery-right-2-cols.html') 2 columns
                // eof Gallery right sidebar
                // Gallery item
                li
                  a(href='gallery-single.html') Gallery Item
                  ul
                    li
                      a(href='gallery-single.html') Style 1
                    li
                      a(href='gallery-single2.html') Style 2
                    li
                      a(href='gallery-single3.html') Style 3
                // eof Gallery item
            // eof Gallery
            // contacts
            li
              a(href='contact.html') Contact
              ul
                li
                  a(href='contact.html') Contact 1
                li
                  a(href='contact2.html') Contact 2
                li
                  a(href='contact3.html') Contact 3
            // eof contacts
        // eof main nav
        span.toggle_menu
          span
      .col-md-2.col-lg-3.text-right
        span.visible-lg-inline-block
          a.social-icon.soc-facebook(href='#')
          a.social-icon.soc-twitter(href='#')
          a.social-icon.soc-google(href='#')
        ul.inline-dropdown.inline-block
          li.dropdown.login-dropdown
            a#login.header-button(data-target='#', href='index.html', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
              i.rt-icon2-user
            .dropdown-menu(aria-labelledby='login')
              p
                strong.grey If you have an account, please log in:
              form(role='form', action='/')
                .form-group
                  label(for='login_email') Email address
                  input#login_email.form-control(type='email', placeholder='Email Address')
                .form-group
                  label(for='login_password') Password
                  input#login_password.form-control(type='password', placeholder='Password')
                button.theme_button.color1(type='button')
                  | Log in
                a.theme_button.color2(href='register.html') Register
              .greylinks.topmargin_20
                a(href='register.html') Forgot Your Password?
          li.dropdown.cart-dropdown
            a#cart.header-button(data-target='#', href='index.html', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
              i.rt-icon2-basket
            .dropdown-menu(aria-labelledby='cart')
              span.grey Recently added item(s)
              .widget.widget_shopping_cart
                .widget_shopping_cart_content
                  ul.cart_list.product_list_widget.media-list.darklinks
                    li.media
                      .media-left.media-middle
                        a(href='product-right.html')
                          img(src='images/shop/01.jpg', alt='')
                      .media-body.media-middle
                        h4
                          a(href='product-right.html') Stet clitad gubergren
                        span.quantity
                          | 1 × 
                          span.amount $90
                      .media-body.media-middle
                        a.remove(href='#', title='Remove this item')
                          i.rt-icon2-trash.highlight
                    li.media
                      .media-left.media-middle
                        a(href='product-right.html')
                          img(src='images/shop/02.jpg', alt='')
                      .media-body.media-middle
                        h4
                          a(href='product-right.html') Takimata san bctus
                        span.quantity
                          | 1 × 
                          span.amount $90
                      .media-body.media-middle
                        a.remove(href='#', title='Remove this item')
                          i.rt-icon2-trash.highlight
                  // end product list
                  p.total
                    span.grey
                      | Cart Subtotal: 
                      span.amount $180
                  p.buttons
                    a.theme_button.color1(href='cart-right.html') View All
                    a.theme_button(href='checkout-right.html') Checkout
          li.dropdown
            a.search_modal_button.header-button(href='#')
              i.rt-icon2-search2