section.ms.section_padding_50
  .container-fluid
    .row
      .col-sm-12.text-center
        p.big.grey Галлерея
        h3.section_header.highlight Наши объекты
    .row
      .col-sm-12
        .owl-carousel(data-margin='20', data-nav='true', data-items='6', data-themeclass='hover-scale')
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/01.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/02.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/03.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/04.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/05.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/06.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/07.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
          .vertical-item.content-absolute
            .item-media
              img(src='images/events/08.jpg', alt='')
              .media-links
                a.abs-link(title='', href='gallery-single.html')
            .item-content.darken_gradient
        // .owl-carousel
      // .col-sm-12
    // .row
    .row
      .col-sm-12.text-center
        a.theme_button.inverse.wide_button(href='gallery-regular.html') Перейти на страницу фотографий
