header.page_header.header_white.floating_logo.columns_padding_0.table_section
  .container-fluid
    .row
      .col-md-2.col-xs-4
        a.logo.logo_image(href='index.html')
          img(src='images/logo.png', alt='EN-SALE')
        span.logo-meta
          strong.grey +7(999)999-999
          br
          |          en-sale@mail.ru
      .col-md-8.col-lg-8.text-center
        // main nav start
        nav.mainmenu_wrapper
          ul.mainmenu.nav.sf-menu
            li.active
              a(href='index.html') Главная
            // section
            li
              a(href='blog-right.html') Альтернативная энергия
            // section
            li
              a(href='about.html') Освещение
            // section
            li
              a(href='gallery-regular.html') Акции
            // section
            li
              a(href='contact.html') Новости
            // section
            li
              a(href='contact.html') Объекты
        // eof main nav
        span.toggle_menu
          span
      .col-md-2.col-lg-4.text-right