section.intro_section.page_mainslider.ds
  .flexslider
    ul.slides
      li
        img(src='images/slide01.jpg', alt='')
        .container
          .row
            .col-sm-12
              .slide_description_wrapper
                .top-corner
                  a.logo(href='index.html')
                    img(src='images/logo.png', alt='EN-SALE')
                  .top-corner__text
                    span.grey Чистая Энергия для Чистой
                    span.highlight  Планеты
                .slide_description
                  .intro-layer(data-animation='slideExpandUp')
                    p.big.grey.bottommargin_40
                      | Наши Контакты
                  .intro-layer(data-animation='slideExpandUp')
                    h4.text-uppercase.topmargin_40
                      strong
                        | Почтовый адрес:
                        br
                        | Саратовская область г.Саратов
                        br
                        | Улица Ленина дом 15 кв 45
                    h4.text-uppercase.topmargin_40
                      strong
                        | Email:
                        br
                        | en-sale@mail.ru
      li
        img(src='images/slide02.jpg', alt='')
        .container
          .row
            .col-sm-12
              .slide_description_wrapper
                .top-corner
                  a.logo(href='index.html')
                    img(src='images/logo2.png', alt='EN-SALE')
                  .top-corner__text
                    span.grey Чистая Энергия для Чистой
                    span.highlight  Планеты
                .slide_description
                  .intro-layer(data-animation='slideExpandUp')
                    p.big.grey.bottommargin_40
                      | Наши Контакты
                  .intro-layer(data-animation='slideExpandUp')
                    h4.text-uppercase.topmargin_40
                      strong
                        | Почтовый адрес:
                        br
                        | Саратовская область г.Саратов
                        br
                        | Улица Ленина дом 15 кв 45
                    h4.text-uppercase.topmargin_40
                      strong
                        | Email:
                        br
                        | en-sale@mail.ru