section#table.ds.parallax.section_padding_top_100.section_padding_bottom_100
  .container
    .row
      .col-sm-12
        .table-responsive
          table.table_template
            thead
              tr
                th EN-SALE Panel (Watts)
                th Amps
                th Length (in.)
                th Width (in.)
                th Height (in.)
                th Weight (lbs.)
            tbody.grey
              tr
                td
                  | 5 Watt Panel
                td
                  | 0.29
                td
                  | 11
                td
                  | 7.5
                td
                  | 5/8
                td
                  | 1.45
              tr
                td
                  | 10 Watt Panel
                td
                  | 0.57
                td
                  | 17.5
                td
                  | 7.5
                td
                  | 1
                td
                  | 2.55
              tr
                td
                  | 20 Watt Panel
                td
                  | 0.29
                td
                  | 11
                td
                  | 7.5
                td
                  | 5/8
                td
                  | 1.45
              tr
                td
                  | 30 Watt Panel
                td
                  | 0.57
                td
                  | 17.5
                td
                  | 7.5
                td
                  | 1
                td
                  | 2.55
              tr
                td
                  | 40 Watt Panel (Black Frame)
                td
                  | 0.29
                td
                  | 11
                td
                  | 7.5
                td
                  | 5/8
                td
                  | 1.45
              tr
                td
                  | 60 Watt Panel
                td
                  | 0.57
                td
                  | 17.5
                td
                  | 7.5
                td
                  | 1
                td
                  | 2.55
              tr
                td
                  | 80 Watt Panel 13.5″x58″ (Black Frame)
                td
                  | 0.29
                td
                  | 11
                td
                  | 7.5
                td
                  | 5/8
                td
                  | 1.45
              tr
                td
                  | 100 Watt Panel
                td
                  | 0.57
                td
                  | 17.5
                td
                  | 7.5
                td
                  | 1
                td
                  | 2.55
              tr
                td
                  | 150 Watt Panel
                td
                  | 0.29
                td
                  | 11
                td
                  | 7.5
                td
                  | 5/8
                td
                  | 1.45
              tr
                td
                  | 160 Watt Panel (Black Frame)
                td
                  | 0.57
                td
                  | 17.5
                td
                  | 7.5
                td
                  | 1
                td
                  | 2.55