.with_background.with_padding
  .widget.widget_popular_entries
    h3.widget-title Хиты продаж
    ul.media-list.darklinks
      +news-item('/item.html', 'images/recent_post1.jpg', '/item.html', 'Солнечная панель', '2 400 руб.')
      +news-item('/item.html', 'images/recent_post2.jpg', '/item.html', 'Аккамулятор', '2 800 руб.')
      +news-item('/item.html', 'images/recent_post1.jpg', '/item.html', 'Ветрогенератор', '1 400 руб.')
      +news-item('/item.html', 'images/recent_post2.jpg', '/item.html', 'Контроллер', '5 450 руб.')