include ../mixins/mixins
// Nav tabs
ul.nav.nav-tabs(role='tablist')
  li.active
    a(href='#tab1', role='tab', data-toggle='tab') Все
  li
    a(href='#tab2', role='tab', data-toggle='tab') Солнечные батареи Sunways
  li
    a(href='#tab3', role='tab', data-toggle='tab') Солнечные батареи One-sun
// Tab panes
.tab-content.no-border.top-color-border
  #tab1.tab-pane.fade.in.active
    .row.columns_padding_2
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-4.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
    // .row
  #tab2.tab-pane.fade
    .row.columns_padding_2
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
  // .row
  #tab3.tab-pane.fade
    .row.columns_padding_2
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')
      .col-md-3.col-sm-6
        +tab-item1('images/events/01.jpg', 'Сервис', 'Здесь.')

