include ../mixins/mixins
// Nav tabs
ul.nav.nav-tabs(role='tablist')
  li.active
    a(href='#tab1', role='tab', data-toggle='tab') Все
  li
    a(href='#tab2', role='tab', data-toggle='tab') Солнечные батареи Sunways
  li
    a(href='#tab3', role='tab', data-toggle='tab') Солнечные батареи One-sun
// Tab panes
.tab-content.no-border.top-color-border
  #tab1.tab-pane.fade.in.active
    .row.columns_padding_2
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/01.jpg', 'Солнечные батареи ФСМ-100М 100 ватт 12В Mono', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/02.jpg', 'Мобильный солнечный модуль Sunways FSM-3М', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/03.jpg', 'Мобильный солнечный модуль Sunways FSM-100М', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/04.jpg', 'Солнечные батареи ФСМ-200П 200 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/05.jpg', 'Солнечные батареи ФСМ-200М 200 ватт 24В Mono', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/06.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
    // .row
  #tab2.tab-pane.fade
    .row.columns_padding_2
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/07.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/08.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/09.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/10.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/11.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/12.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
  // .row
  #tab3.tab-pane.fade
    .row.columns_padding_2
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/12.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')
      .col-md-3.col-sm-6
        +tab-item1('images/gallery/02.jpg', 'Солнечные батареи ФСМ-250П 250 ватт 24В Poly', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit..')

