section.ls.ms.page_portfolio.section_padding_top_100.section_padding_bottom_75
  .container
    .row
      .col-sm-12
        .filters.isotope_filters.text-center
          a.selected(href='#', data-filter='*') Все
          a(href='#', data-filter='.solar-panels') Солнечные панели
          a(href='#', data-filter='.wind-generators') Ветровые генераторы
          a(href='#', data-filter='.boilers') Котлы
        .isotope_container.isotope.row.masonry-layout(data-filters='.isotope_filters')
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.solar-panels
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/01.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №1
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators.solar-panels
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/02.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №2
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators.solar-panels
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/03.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №3
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/04.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №4
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/05.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №5
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/06.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №6
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.wind-generators
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/07.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №7
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.solar-panels.boilers
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/08.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №8
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.solar-panels.boilers
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/09.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №9
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.solar-panels.boilers
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/10.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №10
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.solar-panels.boilers
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/11.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №11
          .isotope-item.bottommargin_30.col-lg-3.col-md-6.col-sm-12.boilers.wind-generators
            .vertical-item.gallery-item.content-absolute.text-center.cs
              .item-media
                img(src='images/gallery/12.jpg', alt='')
                .media-links
                  .links-wrap
                    a.p-view.prettyPhoto(title='', href='/object.html')
              .item-content
                h4.item-meta.greylinks
                  a(href='/object.html') Объект №12
        // eof .isotope_container.row