include ../../mixins/mixins
section.ls.ms.section_padding_top_50.section_padding_bottom_50
  .container
    .row
      .col-md-9.col-sm-8
        .row.columns_padding_2
          +services-item('images/events/01.jpg', '', 'Солнечные панели', 'Перейти')
          +services-item('images/events/02.jpg', '', 'Контроллеры', 'Перейти')
          +services-item('images/events/03.jpg', '', 'Инверторы', 'Перейти')
          +services-item('images/events/04.jpg', '', 'АКБ', 'Перейти')

          +services-item('images/events/05.jpg', '', 'Ветрогенераторы', 'Перейти')
          +services-item('images/events/06.jpg', '', 'ИБП', 'Перейти')
          +services-item('images/events/07.jpg', '', 'Комплектующие', 'Перейти')
          +services-item('images/events/08.jpg', '', 'Солнечные коллекторы', 'Перейти')

          +services-item('images/events/05.jpg', '', 'Офисное и бытовое освещение', 'Перейти')
          +services-item('images/events/06.jpg', '', 'Промышленное освещение', 'Перейти')
          +services-item('images/events/07.jpg', '', 'Уличное освещение', 'Перейти')
          +services-item('images/events/08.jpg', '', 'Низковольтное оборудование', 'Перейти')

      .col-md-3.col-sm-4
        include ../../components/_bestsellers